.largeText{
  /* font-size: 52px; */
  font-size: 2.5rem;;
  font-weight: 900;
  line-height: 60px;
  /* color: #1B1D27; */
  color: #38364F;
}
.mediumText{
  font-size: 1.5rem;;
  font-weight: 900;
  line-height: 60px;
  /* color: #1B1D27; */
  color: #38364F;
}